## Quitting fsoft
giving myself some time to pick up some skills before applying for a new job.

In [1]:
import pandas as pd
import numpy as np

### Week01: 2020/10/26 (yue) ~ 2020/11/01 (ri)

pd.DataFrame?

In [3]:
cols_df = ("algorithm", "DL", "DSP", "julia", "maths", "cv", "projets", "others",)
week01 = pd.DataFrame(
    [[0] * len(cols_df)],
    index=("2020-10-26",),
    columns=cols_df,
    dtype=np.uint8,
)
week01

            algorithm  DL  DSP  julia  maths  cv  projets  others
2020-10-26          0   0    0      0      0   0        0       0

In [4]:
week01.dtypes

algorithm    uint8
DL           uint8
DSP          uint8
julia        uint8
maths        uint8
cv           uint8
projets      uint8
others       uint8
dtype: object

In [5]:
# end of 2020-10-26
# 3 hours on thinkpads
week01.loc["2020-10-26"]["others"] += 3

# 2 hours on NYU dl course
week01.loc["2020-10-26"]["DL"] += 2
week01

            algorithm  DL  DSP  julia  maths  cv  projets  others
2020-10-26          0   2    0      0      0   0        0       3

In [6]:
# end of 2020-10-27
# 3 hours on thinkpads
#week01["2020-10-27"]["julia"] += 3

# 2 hours on NYU dl course
#week01.loc["2020-10-26"]["DL"] += 2
#week01